<!DOCTYPE HTML>
<HTML>
  <HEAD>
    <TITLE>
      Databrary PLAY-Mate
    </TITLE>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
    <style>


html, body {
    height: 100%;
}

select {
  max-width: 150px;
  min-width: 150px;
}

.mainbox{
  height: 100%;
}

/* Create two equal columns that float next to each other */
.column {
float: left;
width: 50%;
padding: 5px;
}

/* Clear floats after the columns */
.row:after {
/* content: "";
display: table;
clear: both;*/
}

.container{
  width:100%;
  padding:50px;
}

.band1{
  width:100%;
  background:#669966;
  padding:0px 0px 0px 30px;

}

.band2{
  display: table;
  width:100%;
  height:100%;
  background:white;
  padding:0px 0px 0px 30px;
}

.colpipe {
  display: table-cell;
  width:75%;
  height:100%;
  background:#669966;
  padding: 0px 30px;
}

.colcode {
  display: table-cell;
  width:33.33%;
  height:100%;
  padding: 0px 30px;
}


.collab {
  display: table-cell;
  width:40%;
  height:100%;
  padding: 0px 30px;
}

.coltran {
  display: table-cell;
  width:35%;
  height:100%;
  background:#bbb;
  padding: 0px 30px;
}

.colfin{
    display: table-cell;
    width:25%;
    height:100%;
    background:gold;
    padding: 0px 30px;
}


    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script>

      var source = new EventSource("/progress");
      source.onmessage = function(event) {
        $('.progress-bar').css('width', event.data+'%').attr('aria-valuenow', event.data);
        $('.progress-bar-label').text(event.data+'%');

        if(event.data == 100){
          source.close()
        }
      }
    </script>

      <script type="text/javascript">
          $('.submit_queue').click(function() {
            // update disabled property
            $(".submit_queue").prop('disabled', this.value == 1);
          });
      </script>


  </HEAD>
  <BODY>
<div class="mainbox">
<!-- Green band begins-->
<div class="band1">
    <!-- Pipeline begins-->
    <div class="colpipe">      
      <!--old pipeline begins -->
      <div class="column">
        <br>
        <img src="/static/PLAY-logo.png" height=150px>
        <h4 class="green">1. Add videos to the workflow</h4>
        <form action="{{ url_for('send_to_qa') }}" method="post">
        <div class="column">
          {{ forms["in_db_form"].hidden_tag() }}
          <p>
          {{ forms["in_db_form"].in_databrary.label }}<br>
          {{ forms["in_db_form"].in_databrary() }}
          </p>
        </div>
        <div class="column">
          <div class="row">
          <p>
          {{ forms["in_db_form"].submit_send_to_qa() }}
          </p>
          </div>
          <div class="row">
          <p>
          {{ forms["in_db_form"].submit_remove() }}
          </p>
          </div>
        </div>
        </form>
      </div>
      <div class="column">
        <form action="{{ url_for('send_to_coding') }}" method="post">
        <div class="row">
          <p>
          {{ forms["qa_form"].ready_for_qa.label }}<br>
          {{ forms["qa_form"].ready_for_qa() }}
          </p>
        </div>
        <div class="row">
          <p>
          {{ forms["qa_form"].submit_send_to_coding() }} <br>
          {{ forms["qa_form"].submit_send_to_silver() }}
          </p>
        </div>
        <div class="row">
          <p>
          </p>
        </div>
        </form>
      </div>
    <!--old pipeline ends -->
    </div>
    <!-- Pipeline ends-->

    <!-- Action queue begins-->
    <div class="colpipe">    
      <!--old action Q begins-->
      <form action="{{ url_for('queue_action') }}" method="post" id="queue">
        <div class="row">
          <h4>Action queue</h4>
          <p>
          {{ forms["queue_form"].actions.label }}<br>
          {{ forms["queue_form"].actions() }}
          </p>
          <p>
          {{ forms["queue_form"].submit_queue() }}
          {{ forms["queue_form"].remove_item_queue() }}
          </p>
          <p>
          {{ forms["queue_form"].cancel_queue() }}
          </p>
          {% block content %}
            {% if queue.running %}
            RUNNING
            {% endif %}
          {% endblock content %}

          <div class="progress" style="width: 50%; margin: 50px;">
            <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
              <span class="progress-bar-label">0%</span>
            </div>
          </div>
        </div>
        <div class="row">
          <p>
          {{ forms["queue_form"].results.label }}<br>
          {{ forms["queue_form"].results() }}
          </p>
        </div>
      </form>
      <!--old action Q ends-->
      <!--old results begins-->
      <form action="{{ url_for('refresh_page') }}" method="post">
        <div class="row">
          <p>
          {{ forms["refresh_button"].refresh_button }}
          </p>
          </div>
      </form>
      <!--old results ends-->

    </div>
    <!-- Action queue ends-->

</div>
<!-- Green band ends-->


<!-- White band begins-->
<div class="band2">


  <!-- Labs begins-->
  <div class="collab"  width=33%>
      <!-- 2L begings-->
        <div class="row">
          <h4 class="green">2L. Assign videos to labs for coding</h4>
          <div class="column">
            <form action="{{ url_for('send_to_lab_obj') }}" method="post">
              <h4 class="grey">Object</h4>
              <div class="column">
                <p>
                  {{ forms["obj_coding_form"].ready_for_coding.label }}<br>
                  {{ forms["obj_coding_form"].ready_for_coding() }}
                </p>
              </div>
              <div class="column">
                <p>
                  {{ forms["obj_coding_form"].lab_list.label }}<br>
                  {{ forms["obj_coding_form"].lab_list() }}
                </p>
              </div>
              <div class="row">
                <p>
                  {{ forms["obj_coding_form"].submit_send_to_lab() }}
                </p>
              </div>
            </form>
          </div>
          <div class="column">
            <form action="{{ url_for('send_to_lab_loc') }}" method="post">
              <h4 class="grey">Locomotion</h4>
              <div class="column">
                <p>
                  {{ forms["loc_coding_form"].ready_for_coding.label }}<br>
                  {{ forms["loc_coding_form"].ready_for_coding() }}
                </p>
              </div>
              <div class="column">
                <p>
                  {{ forms["loc_coding_form"].lab_list.label }}<br>
                  {{ forms["loc_coding_form"].lab_list() }}
                </p>
              </div>
              <div class="row">
                <p>
                  {{ forms["loc_coding_form"].submit_send_to_lab() }}
                </p>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <h4 class="grey">Emotion</h4>
            <form action="{{ url_for('send_to_lab_emo') }}" method="post">
              <div class="column">
                <p>
                  {{ forms["emo_coding_form"].ready_for_coding.label }}<br>
                  {{ forms["emo_coding_form"].ready_for_coding() }}
                </p>
              </div>
              <div class="column">
                <p>
                  {{ forms["emo_coding_form"].lab_list.label }}<br>
                  {{ forms["emo_coding_form"].lab_list() }}
                </p>
              </div>
              <div class="row">
                <p>
                  {{ forms["emo_coding_form"].submit_send_to_lab() }}
                </p>
              </div>
            </form>
          </div>
          <div class="column">
            <h4 class="grey">Communication &amp; Gesture</h4>
            <form action="{{ url_for('send_to_lab_comm') }}" method="post">
              <div class="column">
                <p>
                  {{ forms["comm_coding_form"].ready_for_coding.label }}<br>
                  {{ forms["comm_coding_form"].ready_for_coding() }}
                </p>
              </div>
              <div class="column">
                <p>
                  {{ forms["comm_coding_form"].lab_list.label }}<br>
                  {{ forms["comm_coding_form"].lab_list() }}
                </p>
              </div>
              <div class="row">
                <p>
                  {{ forms["comm_coding_form"].submit_send_to_lab() }}
                </p>
              </div>
            </form>
          </div>
        </div>
      <!-- 2L ends-->
        <!-- 

            VIDEO CODING FORMS BLOCK


        -->
        <!-- 3L begings-->
        <div class="row">
          <h4 class="green">3L. Send coded files to rel coders </h4>
          <div class="column">
            <h4 class="grey"> Object </h4>
            <form action="{{ url_for('send_to_rel_obj') }}" method="post">
              <div class="column">
                <p>
                {{ forms["obj_video_coding_form"].videos_not_coded.label }}<br>
                {{ forms["obj_video_coding_form"].videos_not_coded() }}
                </p>
              </div>
              <div class="column">
                <p>
                {{ forms["obj_video_coding_form"].videos_coded.label }}<br>
                {{ forms["obj_video_coding_form"].videos_coded() }}
                </p>
              </div>
              <div class="row">
                <p>
                {{ forms["obj_video_coding_form"].submit_send_to_rel() }}
                </p>
              </div>
            </form>
          </div>
          <div class="column">
            <h4 class="grey"> Locomotion </h4>
            <form action="{{ url_for('send_to_rel_loc') }}" method="post">

              <div class="column">
                <p>
                {{ forms["loc_video_coding_form"].videos_not_coded.label }}<br>
                {{ forms["loc_video_coding_form"].videos_not_coded() }}
                </p>
              </div>
              <div class="column">
                <p>
                {{ forms["loc_video_coding_form"].videos_coded.label }}<br>
                {{ forms["loc_video_coding_form"].videos_coded() }}
                </p>
              </div>
              <div class="row">
                <p>
                {{ forms["loc_video_coding_form"].submit_send_to_rel() }}
                </p>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="column">
            <h4 class="grey"> Emotion </h4>
            <form action="{{ url_for('send_to_rel_emo') }}" method="post">
              <div class="row">
                <p>
                {{ forms["emo_video_coding_form"].videos_not_coded.label }}<br>
                {{ forms["emo_video_coding_form"].videos_not_coded() }}
                </p>
              </div>
              <div class="row">
                <p>
                {{ forms["emo_video_coding_form"].videos_coded.label }}<br>
                {{ forms["emo_video_coding_form"].videos_coded() }}
                </p>
              </div>
              <div class="row">
                <p>
                {{ forms["emo_video_coding_form"].submit_send_to_rel() }}
                </p>
              </div>
            </form>
          </div>


            <div class="column">
                <h4 class="grey"> Communication & Gesture </h4>
                <form action="{{ url_for('send_to_rel_comm') }}" method="post">
                  <div class="column">
                    <p>
                    {{ forms["comm_video_coding_form"].videos_not_coded.label }}<br>
                    {{ forms["comm_video_coding_form"].videos_not_coded() }}
                    </p>
                  </div>
                  <div class="column">
                    <p>
                    {{ forms["comm_video_coding_form"].videos_coded.label }}<br>
                    {{ forms["comm_video_coding_form"].videos_coded() }}
                    </p>
                  </div>
                  <div class="row">
                    <p>
                    {{ forms["comm_video_coding_form"].submit_send_to_rel() }}
                    </p>
                  </div>
                </form>
              </div>



        </div>
        <!-- 3L ends-->
        <!-- 

          REL CODING PASS

          -->
      <!-- 4L begings-->
        <div class="row">
          <h4 class="green">4L. Mark coded files: GOLD/SILVER </h4>
          <div class="column">
            <form action="{{ url_for('send_to_gold_obj') }}" method="post">
              <h4 class="grey"> Object </h4>
              <div class="column">
                <p>
                {{ forms["obj_rel_form"].ready_for_rel.label }}<br>
                {{ forms["obj_rel_form"].ready_for_rel(cols=50) }}
                </p>
              </div>
              <div class="column">
              <p>
              {{ forms["obj_rel_form"].submit_send_to_gold(cols=50) }}<br>
              {{ forms["obj_rel_form"].submit_send_to_silver(cols=50) }}
              </p>
              </div>
              <div class="row">
              <p>
              {{ forms["obj_rel_form"].gold.label }}<br>
              {{ forms["obj_rel_form"].gold() }}
              </p>
              </div>
            </form>
          </div>

          <div class="column">
            <form action="{{ url_for('send_to_gold_loc') }}" method="post">
              <h4 class="grey"> Locomotion </h4>
              <div class="column">
                <p>
                {{ forms["loc_rel_form"].ready_for_rel.label }}<br>
                {{ forms["loc_rel_form"].ready_for_rel(cols=50) }}
                </p>
              </div>
              <div class="column">
              <p>
              {{ forms["loc_rel_form"].submit_send_to_gold(cols=50) }}
              <br>  {{ forms["loc_rel_form"].submit_send_to_silver(cols=50) }}
              </p>
              </div>
              <div class="row">
              <p>
              {{ forms["loc_rel_form"].gold.label }}<br>
              {{ forms["loc_rel_form"].gold() }}
              </p>
              </div>
            </form>
          </div>
        </div>
        <div class="row">

          <div class="column">
            <form action="{{ url_for('send_to_gold_emo') }}" method="post">
              <h4 class="grey"> Emotion </h4>
              <div class="row">
                <p>
                {{ forms["emo_rel_form"].ready_for_rel.label }}<br>
                {{ forms["emo_rel_form"].ready_for_rel(cols=50) }}
                </p>
              </div>
              <div class="row">
              <p>
              {{ forms["emo_rel_form"].submit_send_to_gold(cols=50) }}
              <br>  {{ forms["emo_rel_form"].submit_send_to_silver(cols=50) }}
              </p>
              </div>
              <div class="row">
              <p>
              {{ forms["emo_rel_form"].gold.label }}<br>
              {{ forms["emo_rel_form"].gold() }}
              </p>
              </div>
            </form>
          </div>

          <div class="column">
            <form action="{{ url_for('send_to_gold_comm') }}" method="post">
              <h4 class="grey"> Communication & Gesture </h4>
              <div class="row">
                <p>
                {{ forms["comm_rel_form"].ready_for_rel.label }}<br>
                {{ forms["comm_rel_form"].ready_for_rel(cols=50) }}
                </p>
              </div>
              <div class="row">
              <p>
              {{ forms["comm_rel_form"].submit_send_to_gold(cols=50) }}
              <br>  {{ forms["comm_rel_form"].submit_send_to_silver(cols=50) }}
              </p>
              </div>
              <div class="row">
              <p>
              {{ forms["comm_rel_form"].gold.label }}<br>
              {{ forms["comm_rel_form"].gold() }}
              </p>
              </div>
            </form>
          </div>
        </div>
        <!-- 4L ends-->
  </div>
  <!-- Labs ends-->


  <!-- Tran begins-->
  <div class="coltran">
      <!--tra 123 begins -->
      <div class="row">
      <h4>2T. Assigning videos to Transcribers</h4>
      <form action="{{ url_for('send_to_lab_tra') }}" method="post">
        <div class="column">
          <p>
            {{ forms["trans_coding_form"].ready_for_coding.label }}<br>
            {{ forms["trans_coding_form"].ready_for_coding() }}
          </p>
        </div>
        <div class="column">
          <p>
            {{ forms["trans_coding_form"].lab_list.label }}<br>
            {{ forms["trans_coding_form"].lab_list() }}
          </p>
        </div>
        <div class="row">
          <p>
          {{ forms["trans_coding_form"].submit_send_to_lab() }}
          </p>
        </div>
      </form>
      </div>
    <div class="row">
    <br>
      <h4> 3T. Send Tran files to rel coders </h4>
      <form action="{{ url_for('send_to_rel_tra') }}" method="post">
        <div class="column">
          <p>
          {{ forms["trans_video_coding_form"].videos_not_coded.label }}<br>
          {{ forms["trans_video_coding_form"].videos_not_coded() }}
          </p>
        </div>

        <div class="column">
          <p>
          {{ forms["trans_video_coding_form"].videos_coded.label }}<br>
          {{ forms["trans_video_coding_form"].videos_coded() }}
          </p>
        </div>
        <div class="row">
          <p>
          {{ forms["trans_video_coding_form"].submit_send_to_rel() }}
          </p>
        </div>
      </form>
    </div>

    <div class="row">
    <h4>4T. Mark Tran files: GOLD/SILVER </h4>
      <form action="{{ url_for('send_to_gold_tra') }}" method="post">
        <div class="column">
          <p>
          {{ forms["tra_rel_form"].ready_for_rel.label }}<br>
          {{ forms["tra_rel_form"].ready_for_rel(cols=50) }}
          </p>
        </div>
        <div class="column">
        <p>
        {{ forms["tra_rel_form"].submit_send_to_gold(cols=50) }}<br>
        {{ forms["tra_rel_form"].submit_send_to_silver(cols=50) }}
        </p>
        </div>
        <div class="row">
        <p>
        {{ forms["tra_rel_form"].gold.label }}<br>
        {{ forms["tra_rel_form"].gold() }}
        </p>
        </div>
      </form>

      </div>
      <!--tra 123 ends -->
  </div>
  <!-- Tran ends-->


  <!-- Final begins-->
  <div class="colfin">
    <!--old FINAL begins -->
    <div class="column">
      <h4>{{ forms["in_silver"].in_silver.label }}</h4>
      <br>
      {{ forms['in_silver'].in_silver() }}
    </div>
    <div class="column">
      <h4>{{ forms["in_gold"].in_gold.label }}</h4>
      <br>
      {{ forms['in_gold'].in_gold() }}
    </div>
    <!--old FINAL begins -->
  </div>
  <!-- Final ends-->


</div>
<!-- White band ends-->
</div>
  </BODY>
</HTML>
